<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tech University" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "New Course", courses_new_path %></li>
        <li><%= link_to "Courses", root_path %></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      <nav>
        <div class="container">
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Tech University</a>
            <ul class="right hide-on-med-and-down">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", about_path %></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Courses<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Tech University</h5>
            <p class="grey-text text-lighten-4">The future of development training.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Information</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2025 Tech University
        <a class="grey-text text-lighten-4 right" href="#!">About</a>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
